menu "Application config"
    config APP_DEVICE_NAME
        string "RainMaker device name"
        default "BenQ Projector"

    config APP_DEVICE_TYPE
        string "RainMaker device type"
        default "esp.device.projector"

    config APP_PROJ_UART_NUM
        int "Projector uart number"
        default 2

    config APP_PROJ_UART_BAUD
        int "Projector serial baud"
        default 115200

    config APP_PROJ_UART_TX_PIN
        int "Serial TX pin"
        default 19

    config APP_PROJ_UART_RX_PIN
        int "Serial RX pin"
        default 18
endmenu
