# rapidjson
menu "RapidJSON"
    config RAPIDJSON_ALLOCATOR_DEFAULT_CHUNK_CAPACITY
        int "User-defined kDefaultChunkCapacity definition"
        default 1024
        help
            User can define this as any size that is a power of 2.

    config RAPIDJSON_VALUE_DEFAULT_ARRAY_CAPACITY
        int "User defined kDefaultArrayCapacity value"
        default 8
        help
            User can define this as any natural number.

    config RAPIDJSON_VALUE_DEFAULT_OBJECT_CAPACITY
        int "User defined kDefaultObjectCapacity value"
        default 8
        help
            User can define this as any natural number.
endmenu
